body {
  margin: 0;
  font-family: sans-serif;
}

.application {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-controller {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 0.5rem 0.75rem;
  border-radius: 9999px;
  border: 2px solid #5252ff;
  color: #5252ff;
  box-shadow: 0 5px 1px -1px hsla(0, 0%, 0%, 0.3);
  cursor: pointer;
}

.button--disabled {
  background-color: darkgrey;
  border: 2px solid grey;
  color: gainsboro;
}

.button--warning {
  border: 2px solid #e29600;
}

.light {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-bottom: 10px;
  box-shadow: 0 5px 1px -1px hsla(0, 0%, 0%, 0.3);
  transition: background-color ease-in 0.25s;
}

.light--none {
  background-color: darkgrey;
}

.light--loading {
  background-color: darkblue;
}

.light--error {
  background-color: #f30e39;
}

.light--success {
  background-color: #0ebf0e;
}
